:root {
  --bg: #ed8493; /* rose th*/
  --main: darkgoldenrod;
  --main: deeppink;
  --main: firebrick;
  --main: teal;
  --main: indigo;
  --main: #ff6600;
  --main: #6dba9a; /* vert th */
  --main: #00BE6F;
  --main: #4C55e1;
  --bg: purple;
  --bg: #eeeeee;
  --second: darkblue;
  --second: #e7888e;
  --second: #417bbe;
  --second: #fa000c;
  --second: #ff9b00;
}

* {
    box-sizing: border-box;
}
    
html {
    margin: 0;
    padding: 0;
    color: var(--main);
    font-family: serif;
}

body {
    padding: 1rem;
    background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    font-weight: bold; 
}
