@media (max-width: 575px) {
    html {
        font-size: 0.4rem;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    html {
        font-size: 0.5rem;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    html {
        font-size: 0.6rem;
    }
}

@media (min-width:992px) and (max-width: 1199px) {
    html {
        font-size: 0.7rem;
    }
}

@media (min-width:1200px) and (max-width: 1399px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width:1400px) and (max-width: 1599px) {
    html {
        font-size: 0.9rem;
    }
}

@media (min-width:1600px) {
    html {
        font-size: 1.0rem;
    }
}

body {
    overflow-x: hidden;

    text-align: justify;
    text-align: left;
    line-height: 3.2rem;
}

div {
    display: inline;
    margin-right: 10rem;
    
}
div > span {
    padding: 1.2rem 3rem 1.0rem 3rem;
    white-space: nowrap;

    font-size: 2.8rem;
    font-family: serif;
    font-family: sans-serif;
    line-height: 4.4rem;
    color: var(--main);
    background-color: var(--main);
    border-radius: 100%;
}

div > span:hover {
    color: var(--bg);
    cursor: help;
}

div > p {
    display: inline;
    font-size: 3.8rem;
    font-family: sans-serif;
    font-family: serif;
    color: var(--main);
}

div > p > span {
    margin-right: 0rem;
}

div > p > span:after {
    content: ",";
}

div > p > span:last-child:after {
    content: "";
    text-decoration: none;
}
    
a {
    color: inherit;
    text-decoration: inherit;
    
}

a:hover {
    cursor: pointer !important;
    text-decoration: underline;
    /*color: var(--second);*/
}


#os, #notes  {
    display:none;
}
