body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 4rem;
}

figure {
    width: 460px;
    max-width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

figcaption {
    font-size: 2rem;
}
